{% extends "layout.html" %}

{% block content %}

    <section>
      <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-5">
                <br/>
                <div id="AssignmentDetails">
<a class="btn btn-info" href='http://schoolgradebook.pythonanywhere.com/course'>{{ course_name['course_name'] }}</a></td>
<table id="table" class="table table-hover" id="instructor_table">
  <thead>
    <tr>
      <th scope="col">Assignment Name</th>
      <th scope="col">Grade (in %)</th>
      <th scope="col">Start Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

<tbody id="tbody">
      {% for rows in AssignmentDetails %}
    <tr>
        <td>{{ rows[3] }}</td>
        <td>{{ rows[4] }}</td>
        <td>{{ rows[5].strftime("%A, %d %B %Y") }}</td>
        <td>{{ rows[6].strftime("%A, %d %B %Y") }}</td>
        <td><form action='http://schoolgradebook.pythonanywhere.com/delassignment' method='GET'><input type="hidden" id="courses" name="courses" class="form-control py-2 mb-3" value={{ course_name['id'] }}><input type="hidden" id="assignmentid" name="assignmentid" value={{ rows[2] }}><input type="hidden" id="courseid" name="courseid" value={{ course_id }}><button type="submit" class="btn btn-danger btn-sm" role="button">Delete</button></form></td>
    </tr>
  {% endfor %}
</tbody>
</table>
<button type="button" class="btn btn-info btn-sm mr-5">
 Record count:  <span id="recordcount" class="badge badge-pill badge-dark">{{ recordcount }}</span>
 </button>
<div class="col-xl-5 mt-2 hidden">
                <div class="card rounded">
                  <div class="card-body">
                      <h5 class="text-muted text-center mb-4">Add a new Assignment</h5>
                      <form action='http://schoolgradebook.pythonanywhere.com/assignmentadd?Courseid={{ course_name['id'] }}' method='post'>
                      <div class="form-group">
                        <label for="assignment_name" class="text-muted">Assignment Name</label>
                        <input type="text" id="assignment_name" name="assignment_name" class="form-control py-2 mb-3" placeholder="Assignment name">

                        <label for="assignment_grade" class="text-muted">Grade (in %)</label>
                        <input type="text" id="assignment_grade" name="assignment_grade" class="form-control py-2 mb-3" style="width:50px;" >

                        <label for="assignment_startdate" class="text-muted">Start Date</label>
                        <input type="date" id="assignment_startdate" name="assignment_startdate" class="form-control py-2 mb-3" style="width:200px;">

                        <label for="assignment_duedate" class="text-muted">Due Date</label>
                        <input type="date" id="assignment_duedate" name="assignment_duedate" class="form-control py-2 mb-3" style="width:200px;">

                        <input type="hidden" id="Courseid" name="Courseid" class="form-control py-2 mb-3" value={{ course_name['id'] }}>
                        <input type="hidden" id="courses" name="courses" class="form-control py-2 mb-3" value={{ course_name['id'] }}>
                        <button type="submit" class="btn btn-block text-uppercase font-weight-bold text-light bg-success py-2">Create Assignment</button>
                      </div>
                    </form>
        </div>
      </div>
</div>
                </div>




        </div>
      </div>

    </section>

<script>

</script>

    <!-- end of cards -->
{% endblock %}
