{% extends "layout.html" %}

{% block content %}

    <section>
      <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-5">
                <br/>
                <div id="InstructorDetails" class="container-fluid">
                    <table id="table" class="table table-hover" id="instructor_table">
  <thead>
    <tr>
      <th scope="col">Course Title</th>
      <th scope="col">Instructor</th>
      <th scope="col">Assignment</th>
      <th scope="col">Description</th>
      <th scope="col">Schedule</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>

<tbody id="tbody">
     </tbody>

</table>
<button type="button" class="btn btn-info">
  Record count:  <span id="recordcount" class="badge badge-pill badge-dark"></span>
</button>

                </div>



        </div>
      </div>

    </section>

<script>

$(document).ready(function () {
$.getJSON('http://schoolgradebook.pythonanywhere.com/api/course', function (arr) {
        console.log(arr);
        var course_data = '';
        var i;
        for(i = 0; i < arr.course.length; i++) {
            course_data += '<tr>';
            course_data += '<td>' + arr.course[i][1] +'</td>';
            course_data += '<td><a class="btn btn-info btn-sm" href='+ 'http://schoolgradebook.pythonanywhere.com/instructor' +'>'  +arr.course[i][9]+' '+arr.course[i][7]+' ' +arr.course[i][8]+'</a></td>';
            course_data += '<td><a class="btn btn-info btn-sm" href='+ 'http://schoolgradebook.pythonanywhere.com/assignment?Courseid=' + arr.course[i][0] +'>View</a></td>';
            course_data += '<td>' +arr.course[i][2]+'</td>';
            course_data += '<td>' +arr.course[i][3]+'</td>';
            var date4 = new Date(arr.course[i][4]);
            course_data += '<td>' +(date4.getMonth()+1) + '/' + (date4.getDate()+1) + '/' +  date4.getFullYear()+'</td>';
            var date5 = new Date(arr.course[i][5]);
            course_data += '<td>' +(date5.getMonth()+1) + '/' + (date5.getDate()+1) + '/' +  date5.getFullYear()+'</td>';
            course_data += '</tr>';
        }

        $('#tbody').append(course_data);
        $('#recordcount').append(arr.record);
    });
});


</script>

    <!-- end of cards -->
{% endblock %}
