<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.js"></script>

{% extends "layout.html" %}

{% block content %}
   <!-- cards -->

   <!-- cards -->
    <section>
      <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-5">
<object data="static/document/SchoolGradeBook Project High Level Document.pdf" type="application/pdf" width="100%" height="85%">
<p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it:
<a href="static/document/SchoolGradeBook Project High Level Document.pdf">Download PDF</a>.</p>
</object>
            </div>
        </div>
      </div>
    </section>


    <!-- end of cards -->
{% endblock %}