{% extends "layout.html" %}

{% block content %}
    <section>
      <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-5">
                <br/>
                <div id="GradeDetails">

                    <table id="table" class="table table-hover" id="grade_table">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Instructor</th>
      <th scope="col">Grade 1(Disc.)</th>
      <th scope="col">Grade 2(HW)</th>
      <th scope="col">Grade 3(Proj)</th>
      <th scope="col">Grade 4(Exam)</th>
      <th scope="col">Overall Grade</th>
    </tr>
  </thead>

<tbody id="tbody">
      {% for rows in Gradedata %}
    <tr>
        <td>{{ rows[0]["student_id"] }}</td>
        <td>{{ rows[0]["first_name"] }} {{ rows[0]["last_name"] }}</td>
        <td>{{ rows[2]["course_name"] }} </td>
        <td>{{ rows[3]["title"] }} {{ rows[3]["first_name"] }} {{ rows[3]["last_name"] }}</td>
        <td>{{ rows[1]["AssignmentName"] }} </td>
        <td>{{ rows[1]["GradeTaken"] }} </td>

    </tr>
  {% endfor %}
</tbody>

</table>
<button type="button" class="btn btn-info">
  Record count:  <span id="recordcount" class="badge badge-pill badge-dark"></span>
</button>


                </div>





        </div>
      </div>

    </section>

<script>




</script>

    <!-- end of cards -->
{% endblock %}
