<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="title icon" href="static/images/graduation-cap-300.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Bhuppal & Cindy Project</title>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="static/js/script.js"></script>

</head>
<body>
      <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
              <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">School Grade Book</a>
              <ul class="navbar-nav flex-column mt-4">
                {% if 'Student Details' in title %}
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link current"><i class="fas fa-user-graduate text-warning fa-lg mr-3"></i>Students</a></li>
                <li class="nav-item"><a href="{{ url_for('instructor') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Instructor</a></li>
                <li class="nav-item"><a href="{{ url_for('course') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-book text-light fa-lg mr-3"></i>Course</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-clipboard text-light fa-lg mr-3"></i>Assignment</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Grades</a></li>
                <li class="nav-item"><a href="{{ url_for('documentation') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
                <li class="nav-item bottom-border"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                {% elif 'Instructor Details' in title %}
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user-graduate  text-light fa-lg mr-3"></i>Students</a></li>
                <li class="nav-item"><a href="{{ url_for('instructor') }}" class="nav-link text-white p-2 mb-2 sidebar-link current"><i class="fas fa-user text-warning fa-lg mr-3"></i>Instructor</a></li>
                <li class="nav-item"><a href="{{ url_for('course') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-book text-light fa-lg mr-3"></i>Course</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-clipboard text-light fa-lg mr-3"></i>Assignment</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Grades</a></li>
                <li class="nav-item"><a href="{{ url_for('documentation') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
                <li class="nav-item bottom-border"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                {% elif 'Course Details' in title %}
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2  sidebar-link"><i class="fas fa-user-graduate  text-light fa-lg mr-3"></i>Students</a></li>
                <li class="nav-item"><a href="{{ url_for('instructor') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Instructor</a></li>
                <li class="nav-item"><a href="{{ url_for('course') }}" class="nav-link text-white p-2 mb-2 sidebar-link current"><i class="fas fa-book text-warning fa-lg mr-3"></i>Course</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-clipboard text-light fa-lg mr-3"></i>Assignment</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Grades</a></li>
                <li class="nav-item"><a href="{{ url_for('documentation') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
                <li class="nav-item bottom-border"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                {% elif 'Assignment Details' in title %}
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user-graduate  text-light fa-lg mr-3"></i>Students</a></li>
                <li class="nav-item"><a href="{{ url_for('instructor') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Instructor</a></li>
                <li class="nav-item"><a href="{{ url_for('course') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-book text-light fa-lg mr-3"></i>Course</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link cuurent"><i class="fas fa-clipboard text-warning fa-lg mr-3"></i>Assignment</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Grades</a></li>
                <li class="nav-item"><a href="{{ url_for('documentation') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
                <li class="nav-item bottom-border"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                {% elif 'Student Details' in title %}
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link current"><i class="fas fa-user-graduate  text-light fa-lg mr-3"></i>Students</a></li>
                <li class="nav-item"><a href="{{ url_for('instructor') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Instructor</a></li>
                <li class="nav-item"><a href="{{ url_for('course') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-book text-light fa-lg mr-3"></i>Course</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-clipboard text-light fa-lg mr-3"></i>Assignment</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-table text-warning fa-lg mr-3"></i>Grades</a></li>
                <li class="nav-item"><a href="{{ url_for('documentation') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
                <li class="nav-item bottom-border"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                {% elif 'Documentation Details' in title %}
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user-graduate  text-light fa-lg mr-3"></i>Students</a></li>
                <li class="nav-item"><a href="{{ url_for('instructor') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Instructor</a></li>
                <li class="nav-item"><a href="{{ url_for('course') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-book text-light fa-lg mr-3"></i>Course</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-clipboard text-light fa-lg mr-3"></i>Assignment</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Grades</a></li>
                <li class="nav-item"><a href="{{ url_for('documentation') }}" class="nav-link text-white p-2 mb-2 sidebar-link current"><i class="fas fa-file-alt text-warning fa-lg mr-3"></i>Documentation</a></li>
                <li class="nav-item bottom-border"><a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                {% endif %}
              </ul>
                <div class="bottom-border mt-3">
                <h6 class="text-white font-weight-bolder"> <small>IS-668 Enterprise-Wide Computing - Spring 2019</small></h6>
                <p class="text-white font-weight-bold"><small>
                <span class="text-white text-left"> <i class="fas fa-users fa-lg text-info mr-2"></i>Project Members</span><br/>
                  <span class="text-white text-left ml-4"><i class="fas fa-user-circle text-info"></i> Bhuppal Kumar G H</span><br/>
                  <span class="text-white text-left ml-4"><i class="fas fa-user-circle text-info"></i> Cindy Fashingbauer</span>
                </small></p>






              </div>
            </div>

            <!-- end of sidebar -->

            <!-- top-nav -->
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h4 class="text-light text-uppercase mb-0">{{ title }}</h4>
                </div>
                <div class="col-md-4">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control search-input" placeholder="Search...">
                      <button type="button" class="btn btn-white search-button"><i class="fas fa-search text-info"></i></button>
                    </div>
                  </form>
                </div>
                <div class="col-md-3">
                  <ul class="navbar-nav">
                    <li class="nav-item ml-md-auto">
                        {% if current_user.is_authenticated %}
                            <i class="text-info fas fa-user-circle fa-lg text-info mr-2"></i><span class="text-info">{{ current_user.username.capitalize() }}<a href="#" class="nav-link text-danger" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i> Signout</a></span>
                        {% else %}
                            <i class="text-info fas fa-user-circle fa-lg text-info mr-2"></i><span class="text-info">anonymous</span>  <a href="#" class="nav-link text-danger" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i> Sign in</a></span>
                        {% endif %}

                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end of top-nav -->
          </div>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->



    <!-- modal -->
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">School Grade Book - Want to leave?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
                    {% if current_user.is_authenticated %}
                        Press signout to leave
                    {% else %}
                        Press signin to leave
                    {% endif %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>

                    {% if current_user.is_authenticated %}
                       <a href="{{ url_for('logout') }}"  class="text-white"><button type="button" class="btn btn-danger"> Signout
                       </button></a>
                    {% else %}
                        <a href="{{ url_for('login') }}"  class="text-white"><button type="button" class="btn btn-danger"> Signin
                        </button></a>
                    {% endif %}

          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->

{% block content %}{% endblock %}




<footer class="footer">
      <div class="container text-center">
        <span class="text-muted credit">&copy; 2019 Copyright. Made by Bhuppal & Cindy</span>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->




</body>
</html>